<style>
body {
    background-color: #FFFFFF;
}
</style>

<h2 style="color: LightSkyBlue;">
  <center>
    Rails frontend: Hello! from <%= @az %> running <%= @code_hash %>
  </center>
</h2>

<% if @text != "no backend found" %>
      <h2 style="color: LightGreen;">
        <center>
          <%= @text %>
        </center>
      </h2>
<% end %>

<% if @crystal != "no backend found" %>
      <h2 style="color: #FFC200;">
        <center>
          <%= @crystal %>
        </center>
      </h2>
<% end %>

<p style="text-align:center;"><%= image_tag "nclouds-logo.png", style: "height:100%;width:80%;padding:50px;" %></p>