<style>
body {
    background-color: #FFFFFF;
}
</style>

<h2 style="color: LightSkyBlue;">
  <center>
    Rails frontend: Hello! from <%= @az %> running <%= @code_hash %>
  </center>
</h2>

<% if @text != "no backend found" %>
      <h2 style="color: LightGreen;">
        <center>
          <%= @text %>
        </center>
      </h2>
<% end %>

<% if @crystal != "no backend found" %>
      <h2 style="color: #FFC200;">
        <center>
          <%= @crystal %>
        </center>
      </h2>
<% end %>

<% if @az =~ /AZ-unknown/ and @text =~ /no backend found/ and @crystal =~ /no backend found/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>

<% if @az =~ /AZ-a/ and @text =~ /no backend found/ and @crystal =~ /no backend found/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-b/ and @text =~ /no backend found/ and @crystal =~ /no backend found/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-c/ and @text =~ /no backend found/ and @crystal =~ /no backend found/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>

<% if @az =~ /AZ-a/ and @text =~ /AZ-a/ and @crystal =~ /no backend found/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-a/ and @text =~ /AZ-b/ and @crystal =~ /no backend found/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-a/ and @text =~ /AZ-c/ and @crystal =~ /no backend found/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-a/ and @text =~ /no backend found/ and @crystal =~ /AZ-a/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-a/ and @text =~ /no backend found/ and @crystal =~ /AZ-b/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-a/ and @text =~ /no backend found/ and @crystal =~ /AZ-c/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>

<% if @az =~ /AZ-b/ and @text =~ /AZ-a/ and @crystal =~ /no backend found/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-b/ and @text =~ /AZ-b/ and @crystal =~ /no backend found/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-b/ and @text =~ /AZ-c/ and @crystal =~ /no backend found/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-b/ and @text =~ /no backend found/ and @crystal =~ /AZ-a/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-b/ and @text =~ /no backend found/ and @crystal =~ /AZ-b/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-b/ and @text =~ /no backend found/ and @crystal =~ /AZ-c/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>

<% if @az =~ /AZ-c/ and @text =~ /AZ-a/ and @crystal =~ /no backend found/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-c/ and @text =~ /AZ-b/ and @crystal =~ /no backend found/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-c/ and @text =~ /AZ-c/ and @crystal =~ /no backend found/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-c/ and @text =~ /no backend found/ and @crystal =~ /AZ-a/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-c/ and @text =~ /no backend found/ and @crystal =~ /AZ-b/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-c/ and @text =~ /no backend found/ and @crystal =~ /AZ-c/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>

<% if @az =~ /AZ-a/ and @text =~ /AZ-a/ and @crystal =~ /AZ-a/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-a/ and @text =~ /AZ-a/ and @crystal =~ /AZ-b/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-a/ and @text =~ /AZ-a/ and @crystal =~ /AZ-c/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-a/ and @text =~ /AZ-b/ and @crystal =~ /AZ-a/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-a/ and @text =~ /AZ-b/ and @crystal =~ /AZ-b/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-a/ and @text =~ /AZ-b/ and @crystal =~ /AZ-c/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-a/ and @text =~ /AZ-c/ and @crystal =~ /AZ-a/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-a/ and @text =~ /AZ-c/ and @crystal =~ /AZ-b/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-a/ and @text =~ /AZ-c/ and @crystal =~ /AZ-c/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>

<% if @az =~ /AZ-b/ and @text =~ /AZ-a/ and @crystal =~ /AZ-a/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-b/ and @text =~ /AZ-a/ and @crystal =~ /AZ-b/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-b/ and @text =~ /AZ-a/ and @crystal =~ /AZ-c/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-b/ and @text =~ /AZ-b/ and @crystal =~ /AZ-a/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-b/ and @text =~ /AZ-b/ and @crystal =~ /AZ-b/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-b/ and @text =~ /AZ-b/ and @crystal =~ /AZ-c/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-b/ and @text =~ /AZ-c/ and @crystal =~ /AZ-a/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-b/ and @text =~ /AZ-c/ and @crystal =~ /AZ-b/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-b/ and @text =~ /AZ-c/ and @crystal =~ /AZ-c/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>

<% if @az =~ /AZ-c/ and @text =~ /AZ-a/ and @crystal =~ /AZ-a/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-c/ and @text =~ /AZ-a/ and @crystal =~ /AZ-b/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-c/ and @text =~ /AZ-a/ and @crystal =~ /AZ-c/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-c/ and @text =~ /AZ-b/ and @crystal =~ /AZ-a/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-c/ and @text =~ /AZ-b/ and @crystal =~ /AZ-b/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-c/ and @text =~ /AZ-b/ and @crystal =~ /AZ-c/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-c/ and @text =~ /AZ-c/ and @crystal =~ /AZ-a/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-c/ and @text =~ /AZ-c/ and @crystal =~ /AZ-b/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
<% if @az =~ /AZ-c/ and @text =~ /AZ-c/ and @crystal =~ /AZ-c/ %>
  <p style="text-align:center;"><%= image_tag "nclouds-logo.png" %></p>
<% end %>
